<div class="text-center">
  <h1>Task編集画面</h1>
  <hr class="mb-5">

  <%= render 'form' %>

  <button type="button" class="btn btn-outline-primary"><%= link_to '戻る', tasks_path %></button>
</div>