<h1 class="text-center mt-4">新規登録</h1>
<hr>
<br><br>

<%= render 'form' %>

<div class="text-center m-5">
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Task一覧へ', tasks_path %></button>
</div>