<h1>Task search</h1>
<%= form_with url: search_tasks_path, method: :get, local: true do |f|%>
  <%= f.text_field :task %>
  <%= f.submit :search %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task %></td>
      </tr>
    <% end %>
  </tbody>
</table>
