<div class="text-center">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス<%= @user.email %></p>

  <button type="button" class="btn btn-outline-primary mb-3"><%= link_to 'User一覧画面へ', admin_users_path %></button><br>
  <button type="button" class="btn btn-outline-success"><%= link_to '編集', edit_admin_user_path %></button>













